* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background-color: #282c34;
  font-size: 20px;  
}

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}


.wrapper_side {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}




.show {
  display: block;
}

.close {
  display: none;
}

.checkbox {
  text-decoration: line-through;
}